@import "./global.css";

.big_aside_container {
  display: block;
  height: 100vh;
  background-color: var(--color-white);
  /* padding: var(--size-rem-1); */
  box-shadow: var(--shadow-2);
}

@media screen and (max-width: 1100px) {
  .big_aside_container {
    display: none;
  }
}
