:root {
  /* WIDTH */
  --width-percent-80: 80%;
  --width-percent-70: 70%;
  --width-percent-60: 60%;

  /* BACK-GROUND COLORS */
  --background-color-main: #f0f4f8;

  /* COLOR */
  --color-primary-500: #3b82f6;
  --color-white: #fbfdff;
  --color-grey-600: #486581;

  /* LETTER SPACING */
  --letter-spacing-18: 1.8px;
  --letter-spacing-15: 1.5px;

  /* MARGIN PADDING SIZE */
  --size-rem-1: 1rem;
  --size-rem-2: 2rem;

  /* LINE HEIGH */
  --line-height-175: 1.75;
}
