@import "./global.css";

.error_container {
  width: 90vw;
  margin: var(--size-rem-5) auto;
  max-width: 600px;
  text-align: center;
  letter-spacing: var(--letter-spacing-15);
}

.error_container img {
  display: block;
  width: 100%;
}

.error_container h1 {
  margin-top: var(--size-rem-0-5);
  font-weight: var(--font-weight-600);
  color: var(--color-grey-3);
}

.error_container p {
  margin-top: var(--size-rem-0-5);
  color: var(--color-grey-1);
}

.btn_back {
  margin-top: var(--size-rem-1);
  text-transform: uppercase;
  background-color: var(--color-primary-8);
  color: var(--color-primary-1);
  font-weight: var(--font-weight-500);
}
