@import "./global.css";

.intro_container {
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}

.intro_item {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  padding: 1.5rem 2rem;
  align-items: center;
  background-color: var(--color-white);
}

.intro_item_icon {
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.intro_content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro_content h3 {
  letter-spacing: var(--letter-spacing-18);
  font-size: var(--font-size-large);
}
.intro_content p {
  letter-spacing: var(--letter-spacing-15);
  color: var(--color-grey-5);
  text-transform: capitalize;
}

.intro_repos {
  background: rgb(255, 224, 240);
  color: rgb(218, 74, 145);
}

.intro_followers {
  background: var(--color-primary-10);
  color: var(--color-primary-5);
}

.intro_following {
  background: rgb(230, 230, 255);
  color: rgb(93, 85, 250);
}

.intro_gists {
  background: rgb(255, 251, 234);
  color: rgb(240, 180, 41);
}
