@import "./global.css";

.most_forked_container {
  width: 100%;
  height: 310px;
  overflow: auto;
  background-color: var(--color-white);
}

.most_forked_container h2 {
  margin-top: 0.5rem;
  color: var(--color-grey-3);
  font-weight: 400;
  text-align: center;
  letter-spacing: var(--letter-spacing-15);
}
