.cart_container {
  width: 60%;
  margin: 0 auto;
  min-height: calc(-16rem + 100vh);
  height: auto;
  letter-spacing: 1.8px;
}

.cart_table {
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.cart_table tr th {
  font-size: 1rem;
  font-weight: 400;
  color: #617d98;
}

.cart_table tr td {
  font-size: 1rem;
  color: #617d98;
}

.item_info {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.item_info img {
  width: 100px;
  height: 75px;
  border-radius: 0.25rem;
}

.info_detail {
  text-align: left;
}

.title {
  font-weight: 700;
  color: #253d53;
  text-transform: capitalize;
}

.color {
  font-size: 0.8rem;
}

.quantity_action {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
}

.btn_clear_item {
  background-color: #bb2525;
  color: #ffffff;
}
